<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <link rel="stylesheet" type="text/css" href="/static/header.css" media="screen" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div th:insert="fragments/header :: navbar">  </div>
Hello <span th:text="${name}"/>
<p>
    Twoje Posty/Komentarze:
</p>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${my_messages}" class="container my-5">
                <div class="col-md-10">
                    <h2 th:case="null">No Posts yet!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Check</th>
                                <th>Date </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="message : ${my_messages}">
                                <td th:text="${message.messageText}"></td>
                                <td th:text="${message.timestamp}"></td>
                                <td><a th:href="@{/main/edit/{id}(id=${message.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i>Edit</a></td>
                                <td><a th:href="@{/main/delete/{id}(id=${message.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i>Delete</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>